/* You can add global styles to this file, and also import other style files */
@import '../../../../node_modules/primeicons/primeicons.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';
@import '../../../../node_modules/primeflex/primeflex.css';
@import './theme/blue/theme-light.scss';


$COLOUR-GOLD: #C09A6A;
$COLOUR-GOLD-LIGHT: #D9C2A5;
$COLOUR-GREY: #525252;
$COLOUR-BLUE: #717EC3;
$COLOUR-OFFWHITE: #F6F6F6;
$COLOUR-BROWN: #4D2A28;



*{
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6{
    color: $COLOUR-BROWN;
}

a{
    color: $COLOUR-GOLD;
}

body{
    color: $COLOUR-GREY;
}

/* COLOURS */
.bg-gold{
    background: $COLOUR-GOLD;
}
.bg-grey{
    background: $COLOUR-GREY;
}

.bg-white{
    background: #fff;
}

body{
    margin: 0 auto;
    background: $COLOUR-OFFWHITE;
}

.logo-image{
    max-width: 125px;
}

.p-menubar{
    
    background: none;
    border: none;
    a{
        span {
            color: #ffffff!important;
        }
    }

}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
    background: #c09a6a;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.ui-block{
    width: 100%!important;
}

.p-button-white{
    color: #fff!important;
    
}

.heading-three{
    font-size: 1.2em; 
    text-transform: uppercase;
}

h3{
    font-size: 30px; 
}

.bread-crumbs{
    a{
        &:first-child{
            border-left: none;
            margin-left: 0px;
            padding-left: 0px;
        }
        color: $COLOUR-GOLD;
        text-decoration: none;
        border-left: 1px solid $COLOUR-GREY;
        padding: 0em .5em;
    }
}

.p-button-gold {
    color: $COLOUR-GOLD-LIGHT;
    background: $COLOUR-BROWN;
    border: 1px solid $COLOUR-BROWN;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 4px;
    &:enabled:hover{
        color: $COLOUR-BROWN;
        background: $COLOUR-GOLD-LIGHT;
        border: 1px solid $COLOUR-GOLD-LIGHT;
    }
}

